/venv
/build
*.spec
/dist
.DS_Store
/.venv
note
/snow
__pycache__/
macemu_patches/macemu
*.pyc
uv.lock
.python-version
.basilisk_ii_prefs
.sheepshaver_prefs
/Metrowerks CodeWarrior
macemu_patches/Old
macemu_patches/macemu.7z
/macemu_patches/backup